<dir ng-controller='createPoolsController'>
	<h1>Create Pool</h1>
	<form>
		<div class="form-group">
		    <label>Name of the Pool: </label>
		    <input type="text" class="form-control" ng-model="pool_match.poolName">
		</div>
		<div class="form-group">
		    <label>Amount to Play: </label>
		    <select class="form-control" ng-model="pool_match.playAmount">
		    	<option value="" disabled>Choose Amount</option>
		    	<option value="10">10</option>
		    	<option value="20">20</option>
		    	<option value="50">50</option>
		    	<option value="80">80</option>
		    	<option value="100">100</option>
		    </select>
		</div>
		<br>
		<div class="form-group">
		    <label>Choose Match: </label>
		    <select class="form-control" ng-model="pool_match.poolMatches">
		    	<option value="" disabled>Choose matches</option>
		    	<option ng-repeat="match in matchsList" value="{{ match.homeTeamName }} vs {{ match.awayTeamName }}">{{ match.homeTeamName }} vs {{ match.awayTeamName }}</option>
		    </select>
		</div>
	  	<button type="submit" class="btn btn-default" ng-click="addMatchTable()">Add Match to Pool</button>
	</form>
	<br>
	<table class="table table-bordered">
	    <thead>
	    	<tr>
		        <th>Match</th>
		        <th>Action</th>
	      	</tr>
	    </thead>
	    <tbody>
	      	<tr ng-repeat= "chooseMatch in chooseMatches">
		        <td>{{ chooseMatch }}</td>
		        <td><button type="submit" class="btn btn-default" ng-click="removeMatch(chooseMatch)">Remove</button></td>
	      	</tr>
	    </tbody>
  </table>
  <br>
  <button type="submit" class="btn btn-default" ng-click="createpool()">Create Pool</button>
</dir>