<div ng-controller='dashboardController'>

  <!-- Modal Structure -->
  <div id="creditModal" class="modal">
      <div class="modal-content">
          <h4>Buy Credit</h4>
          <h6>Current Credit: ${{userCredit}}</h6>
          <div input-field>
              <label>Choose amout:</label><br>
              <select class="" ng-model="creditBuy.amount" material-select watch>
                  <option value="5">$5</option>
                  <option value="10">$10</option>
                  <option value="20">$20</option>
                  <option value="50">$50</option>
                  <option value="100">$100</option>
              </select>
          </div>
      </div>
      <div class="modal-footer">
          <a ng-click="addCredit()" class="modal-action modal-close waves-effect waves-green btn-flat">Buy</a>
          <a href="#/dashboard" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
  </div>
<!-- Dropdown Structure -->
<ul id='userDropdown' class='dropdown-content'>
    <li><a href='#creditModal' modal>Add Credit</a></li>
    <li><a ng-click="logoutButton()">Logout</a></li>
</ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img style="width:170px;padding-top:8px;" src="../img/logo.png" alt="" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='#creditModal' modal>Credit: ${{userCredit}}</a></li>
        <li><button type="button" class="btn btn-default navbar-btn" ng-click="createPoolButton()">Create Pool</button></li>
        <li><a class='dropdown-button btn' href='javascript:void(0);' data-activates='userDropdown' dropdown data-hover="true">Welcome {{ currentUser.username }}</a></li>
      </ul>
    </div>
  </nav>

  <div class="wrapBody">
    <h2>Current Pools:</h2>
    <table>
         <thead>
           <tr>
               <th data-field="id">Pool Name</th>
               <th data-field="play_amount">Play Ammount</th>
               <th data-field="total_players">Players</th>
               <th data-field="prize">Total Prize</th>
               <th data-field="prize">Action</th>
           </tr>
         </thead>

         <tbody>
           <tr ng-repeat="pool in poolsList.pools">
             <td>{{pool.poolName}}</td>
             <td>${{pool.poolPlayAmount}}</td>
             <td>{{pool._poolUsers.length}}</td>
             <td>${{pool.poolPlayAmount * pool._poolUsers.length}}</td>
             <td ng-if="pool._poolMatches[0].matchDate > now"><button type="button" class="btn btn-default" ng-click="joinPool(pool)">Join</button></td>
             <td ng-if="pool._poolMatches[0].matchDate < now"><button type="button" class="btn btn-default" ng-click="watchPool(pool)">Watch</button></td>
           </tr>
         </tbody>
       </table>
  </div>
</div>
