<div ng-controller='poolsController'>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img style="width:170px;" src="../img/logo.png" alt="" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Robert Bruce</a></li>
        <li><a href="badges.html">Credit: $0</a></li>
        <li><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button></li>
      </ul>
    </div>
  </nav>
  <div class="wrapBody">
    <h2>Current Pools:</h2>
    <table>
         <thead>
           <tr>
               <th data-field="id">Pool Name</th>
               <th data-field="play_amount">Play Ammount</th>
               <th data-field="total_players">Players</th>
               <th data-field="prize">Total Prize</th>
               <th data-field="prize">Action</th>
           </tr>
         </thead>

         <tbody>
           <tr ng-repeat="pool in poolsList.pools">
             <td>{{pool.poolName}}</td>
             <td>${{pool.poolPlayAmount}}</td>
             <td>{{pool._poolUsers.length}}</td>
             <td>${{pool.poolPlayAmount * pool._poolUsers.length}}</td>
             <td><button type="button" class="btn btn-default" ng-click="join(pool)">Join</button></td>
           </tr>
         </tbody>
       </table>
  </div>
</div>
