<div ng-controller='loginController'>
  <div class="video">
        <video width="600" height="200" autoplay="autoplay" loop="loop" preload>
          <source src="../videos/background.mp4" type="video/mp4" >
            <source src="../videos/background.ogg" type="http://leongaban.com/video/ogg" >
            <source src="../videos/background.webm" type="video/webm" >
            <object data="../videos/background.mp4" width="1920" height="1080">
                <param name="wmode" value="transparent">
                <param name="autoplay" value="true" >
                <param name="loop" value="true" >
                <embed src="../videos/background.swf" width="1920" height="1080" wmode="transparent" >
            </object>
        </video>
    </div>
    <div class="loginbox">
      <p>
        login box
      </p>
    </div>
</div>
