 <div ng-controller='poolPredictionController'>
	<div>
		<h3>Pool Players: </h3>
		<ul ng-repeat="user in users">
			<li><img src="./img/profile/{{user.img}}"></li>
			<li>{{ user.username }}</li>
		</ul>
	</div>
	<div id="payPool" class="modal">
      <div class="modal-content">
          <h4>Pay Pool</h4>
          <h6>Current Credit: ${{userCredit}}</h6>
          <h6 style="color:red">Amount to play: ${{ pool.poolPlayAmount }}</h6>
      </div>
      <div class="modal-footer">
          <a ng-click="createPrediction()" class="modal-action modal-close waves-effect waves-green btn-flat">Pay</a>
          <a href="#/pool" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
  </div>
	<div>
		<h3>Your Predictions: </h3>
		<div ng-repeat="match in matches">
			<img src="./img/ligamx/{{match.homeTeamImg}}">
			<label>{{ match.homeTeamName }}</label>
			<input type="text" placeholder="0" ng-model="teamPrediction[match.homeTeamName]">
			<label>VS</label>
			<input type="text" placeholder="0" ng-model="teamPrediction[match.awayTeamName]">
			<label>{{ match.awayTeamName }}</label>
			<img src="./img/ligamx/{{match.awayTeamImg}}"><br>
			<label>play at: {{ match.matchDate }}</label><br><br>
		</div>
		<span><button><a href='#payPool' modal>Save & Pay Prediction</a></button></span>
	</div>
</div>